@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To-Dos</h1>
    <p class="lead">Make your day's arrangement easy , sign up now and make your first To-Do</p>
   
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>Easy Add ToDos</h2>
        <img src="~/Pictures/to-do-list.jpg" alt="ToDo" width="250" height="300" />
    </div>
    <div class="col-md-4">
        <h2>Check Completed</h2>
        <img src="~/Pictures/Check.png" alt="Check" width="250" height="250"/>
    </div>
    <div class="col-md-4">
        <h2>Privacy Your Data</h2>
        <img src="~/Pictures/Locker.png" alt="Lock" width="250" height="270" />
    </div>
</div>