@model IEnumerable<ToDoList.Models.ToDo>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!item.IsDone)
                {
                    <h4>
                        @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.ID, @class = "ActiveCheck" })
                        @Html.DisplayFor(modelItem => item.Description)
                    </h4>
                }
                else
                {
                    <div class="completed">
                        <h4>
                            @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.ID, @class = "ActiveCheck" })
                            @Html.DisplayFor(modelItem => item.Description)
                        </h4>
                    </div>
                }
            </td>

        </tr>
    }

</table>

<script src="~/Custom_Scripts/Checkbox_Event_Listener.js"></script>

